table{
	border-collapse:collapse;
	text-align: center;
}
tr{
	height:30px;
}
td {
	width:50px;
	font-size:18px;
	font-family:sans-serif;
	padding:7px;
}
.zuta{
	background-color: #FFF2CC;
}
.siva{
	background-color: #CCCCCC;
	font-weight: bold;
}